body{

    background-color: rgb(63, 122, 211);
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    
}

img{

    width: 350px;
    height: 200px;
    border-radius: 50px;
    column-gap: 100px;
    align-items: flex-start;
    align-content: space-around;
    justify-content: center;
    margin: 10px;
}

h1{

    margin-bottom: 15px;

}


button{

    margin-bottom: 30px;

}