body{

    background-color: rgb(254, 207, 255);
    font-family: 'Times New Roman', Times, serif;
    

}



button{

    color: rgb(149, 10, 128);
    background-color: rgb(235, 164, 255);
}

